body{
    text-align:center;
}
.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border: 10px solid black;
    margin:0.8rem;
}

.btn-container{
    display:flex;
    justify-content:center;
}

.yellow{
    background-color:#FFDE59;
}
.red{
background-color:#E88182
}
.green{
background-color:#CBDC6A
}
.purple{
    background-color:#D186E6;
}
.flash{
    background-color:white;
}
.userFlash{
    background-color:green;
}